<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JsonParser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2723A6C81EB77B4A00C8B09C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2723A6DC1EB77B4A00C8B09C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2723A6E71EB77B4A00C8B09C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
